<h2 class="titleSection">who i am</h2>
<div class="author">
	<img class="author-image" src="images/photo.png" alt="minha foto de perfil">
	<div class="author-description">
		<p>
		Hi, my name is Adriano Tosta and I’m a dedicated Brazilian web designer, passionate about design and development, with a lot of out of box ideas. I graduated as Bachelor of Graphic Design at Universidade do Estado da Bahia in 2006, since then I’ve worked as a web designer, developping clean and useful interfaces and websites, improving a complete user experience for all, with focus on ease of use, speed and delivery of relevant information to the users.
		</p>
		<p>
		I am able to add, or create, new something and unique to already successful team. I have a strong attention to detail providing top quality designs, working with minimal supervision or cooperatively in a team.
		</p>
		<p>
		Having an excellent understanding of designing for the web, I can work with developers on integration: designing and code web solutions through advanced knowledge of programming and scripting languages, developing strategies and plan for web to support and evolving the web services.
		</p>
<!--		<a href="#" class="btn btn--ghost">download resume</a>-->
        <ul class="author-socialMedia">
            <li><a href="https://github.com/adrianotosta" class="button--ghost">github</a></li>
            <li><a href="https://www.linkedin.com/in/adrianotosta" class="button--ghost">linkedin</a></li>
        </ul>
	</div>
</div>
<div class="services">
    <div class="services-list">
        <h3 class="titleSection">what i do</h3>
        <ul>
			<li>Building clean and useful websites with W3C standards</li>
			<li>User interface design for web</li>
			<li>Perfect pixel</li>
			<li>Wireframe/prototyping</li>
        </ul>
    </div>
    <div class="services-skills">
        <h3 class="titleSection">what i know</h3>
        <canvas id="skills" width="960" height="240"></canvas>
    </div>
</div>
