<h2 class="titleSection">Get in touch</h2>
<div class="contact">
    <ul class="contact-list">
<!--         <li class="fa fa-phone-square fa-2x">+55 11 9 9920-6700</li>
        <li class="fa fa-envelope fa-2x">adriano.tosta@gmail.com</li> -->
        <li> +55 11 9 9920-6700</li>
        <li> adriano.tosta@gmail.com</li>
    </ul>
</div>
<!--
<ul>
    <li class="fa fa-github">git hub</li>
	<li class="fa fa-envelope">adriano.tosta@gmail.com</li>
	<li class="fa fa-skype">adrianotosta</li>
	<li class="fa fa-linkedin-square">+55 11 9 99206700</li>
</ul>-->

