<h1>what i did</h1>
<div class="workDetail animated">
    <header class="row">
        <a href="" class="workDetail-hideButton fa fa-times fa-2x"></a>
    </header>
    <div class="row">
        <div class="workDetail-image">
            <img src="" alt="">       
        </div>
        <div class="workDetail-description">
            <h2></h2>
            <p></p>
            <p><strong>client: </strong></p>
            <p><strong>role: </strong></p>
        </div>  
    </div>
</div>
<ul class="row worksList worksList--centered list list--noBullet list--noPadding">
</ul>