<h1>what i did</h1>
<div class="worksList">
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_1.jpg" alt=""></a>
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_2.jpg" alt=""></a>
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_3.jpg" alt=""></a>
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_0.jpg" alt=""></a>
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_1.jpg" alt=""></a>
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_2.jpg" alt=""></a>
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_3.jpg" alt=""></a>
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_2.jpg" alt=""></a>
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_3.jpg" alt=""></a>
    <a href="#" class="worksList-thumb"><img src="../images/works/mini_work_3.jpg" alt=""></a>	
</div>
