/////////////////////////////////////////////////////////////////////////////////////
///*RULES*/
/////////////////////////////////////////////////////////////////////////////////////
//For using BEM you have to follow this rules:
//
//block name:       ".nav"
//modifier block:   ".nav--center"
//
//element name:     ".nav-menu"
//modifier element: ".nav-menu--center"
//
//block name:       ".navTop"
//modifier block:   ".navTop--fixed"
//
//element name:     ".navTop-menuButton"
//modifier element: ".navTop-menuButton--center"



/////////////////////////////////////////////////////////////////////////////////////
///*VARIABLES*/
/////////////////////////////////////////////////////////////////////////////////////
$color-dark: rgb(28,28,28);
$color-light: rgb(255,255,255);
$color-magenta: rgb(244,8,53);
$color-green: #7ab800;
/////////////////////////////////////////////////////////////////////////////////////
///*MIXINS*/
/////////////////////////////////////////////////////////////////////////////////////
@mixin typograph-gnuolane($font-size:1em){
	font-family: gnuolane;
	font-size: $font-size;
	font-weight: lighter;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
/////////////////////////////////////////////////////////////////////////////////////
///*TAGS*/
/////////////////////////////////////////////////////////////////////////////////////
@font-face{
	font-family: gnuolane;
	src: url("../files/gnuolane.otf");
}
html, body{
	height: 100%;
}
body{
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;	
	color: $color-light;
}
a{
    cursor: pointer;
}
h1{
	@include typograph-gnuolane(4em);
}
h2{
	@include typograph-gnuolane(2em);
}
ul li{
	line-height: 1.5em;
}
/////////////////////////////////////////////////////////////////////////////////////
///*LIST*/
/////////////////////////////////////////////////////////////////////////////////////
.list{
    & li{
        line-height: 3em;
    }
}
.list--unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}
/////////////////////////////////////////////////////////////////////////////////////
///*GRID*/
/////////////////////////////////////////////////////////////////////////////////////
.row{
    @include row();
}
/////////////////////////////////////////////////////////////////////////////////////
///*TOP*/
/////////////////////////////////////////////////////////////////////////////////////
.top{
    background: url("../../images/bgMenu.png") repeat-x bottom left;
    padding: 1.5em 0 2em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}
/////////////////////////////////////////////////////////////////////////////////////
///*CONTENT*/
/////////////////////////////////////////////////////////////////////////////////////
.content{
    height: 100%;
    position: relative;
}
/////////////////////////////////////////////////////////////////////////////////////
///*FOOTER*/
/////////////////////////////////////////////////////////////////////////////////////
.footer{
    @include row();
    background-color: $color-magenta;
    height: 4em;    
    padding-top: 1em;
    text-align: center;
}
/////////////////////////////////////////////////////////////////////////////////////
///*PAGES*/
/////////////////////////////////////////////////////////////////////////////////////
.page{
    min-height: 100%;
    padding-top:3em;
    position: inherit;
}
/////////////////////////////////////////////////////////////////////////////////////
///*CITATION*/
/////////////////////////////////////////////////////////////////////////////////////
.citation{
    @include typograph-gnuolane(5em);
    @include row-center(10);
    margin-top: 1.5em!important;
    padding: 1em;
    text-align: center;
    
    & > small{
        display: block;
        margin-top: 2.5em;
        font-size: 0.2em;
    }
}
/////////////////////////////////////////////////////////////////////////////////////
///*MENU*/
/////////////////////////////////////////////////////////////////////////////////////
.menu{
    & > ul{
        @include row-center(4);
        
        & > li{
            display: inline-block;
            
            & > a{
                @include typograph-gnuolane(1.5em);
                background-color: transparent;
                border-radius: .25em;
                color:$color-dark;
                padding:.2em .5em;
                text-decoration: none;
                -webkit-transition:background 1s, color 1s;
                   -moz-transition:background 1s, color 1s;

                &:hover{
                    background-color: $color-magenta;
                    color: $color-light;
                }
            }
        }
    }
}
/////////////////////////////////////////////////////////////////////////////////////
///*AUTHOR*/
/////////////////////////////////////////////////////////////////////////////////////
.author{
    &-photo{
        @include column(4);
    }
    &-description{
        @include column(6);
        @include offset(2);
        line-height: 1.5em;
    }
}
/////////////////////////////////////////////////////////////////////////////////////
///*BUTTONS*/
/////////////////////////////////////////////////////////////////////////////////////
.btn{
	border-radius: .25em;
	display: inline-block;
	padding: .75em 1em;
	text-decoration: none;
    
    &--ghost{
        @include typograph-gnuolane(1.5em);
        border: solid 2px $color-light;
        color: $color-light;
    }
}
