/////////////////////////////////////////////////////////////////////////////////////
/*RULES*/
/////////////////////////////////////////////////////////////////////////////////////
//For using BEM you have to follow this rules:
//
//block name:       ".nav"
//modifier block:   ".nav--center"
//
//element name:     ".nav-menu"
//modifier element: ".nav-menu--center"
//
//block name:       ".navTop"
//modifier block:   ".navTop--fixed"
//
//element name:     ".navTop-menuButton"
//modifier element: ".navTop-menuButton--center"



/////////////////////////////////////////////////////////////////////////////////////
/*VARIABLES*/
/////////////////////////////////////////////////////////////////////////////////////
$color-dark: rgb(28,28,28);
$color-light: rgb(255,255,255);
$color-magenta: rgb(244,8,53);
$color-green: #7ab800;
/////////////////////////////////////////////////////////////////////////////////////
/*MIXINS*/
/////////////////////////////////////////////////////////////////////////////////////
@mixin typograph-gnuolane($font-size:1em){
	font-family: gnuolane;
	font-size: $font-size;
	font-weight: lighter;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
/////////////////////////////////////////////////////////////////////////////////////
/*TAGS*/
/////////////////////////////////////////////////////////////////////////////////////
@font-face{
	font-family: gnuolane;
	src: url("../files/gnuolane.otf");
}
html, body{
	height: 100%;
}
body{
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;	
	color: $color-light;
}
a{
    cursor: pointer;
}
h2{
	@include typograph-gnuolane(4em);
}
h3{
	@include typograph-gnuolane(2em);
}
ul li{
	line-height: 1.5em;
}
/////////////////////////////////////////////////////////////////////////////////////
/*LIST*/
/////////////////////////////////////////////////////////////////////////////////////
.list{
    & li{
        line-height: 3em;
    }
}
.list--unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}
/////////////////////////////////////////////////////////////////////////////////////
/*GRID*/
/////////////////////////////////////////////////////////////////////////////////////
.row{
    @include row();
}
/////////////////////////////////////////////////////////////////////////////////////
/*TOP*/
/////////////////////////////////////////////////////////////////////////////////////
.top{
    background: url("../../images/bgMenu.png") repeat-x bottom left;
    padding: 1.5em 0 2em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}
/////////////////////////////////////////////////////////////////////////////////////
/*CONTENT*/
/////////////////////////////////////////////////////////////////////////////////////
.content{
    height: 100%;
    position: relative;
}
/////////////////////////////////////////////////////////////////////////////////////
/*FOOTER*/
/////////////////////////////////////////////////////////////////////////////////////
.footer{
    @include row();
    background-color: $color-magenta;
    bottom: 0;
    height: 4em;    
    padding-top: 1em;
    position: absolute;
    text-align: center;
}
/////////////////////////////////////////////////////////////////////////////////////
/*PAGES*/
/////////////////////////////////////////////////////////////////////////////////////
.page{
    min-height: 100%;
    padding-top:3.5em;
    position: inherit;
}
/////////////////////////////////////////////////////////////////////////////////////
/*CITATION*/
/////////////////////////////////////////////////////////////////////////////////////
.citation{
    @include typograph-gnuolane(5em);
    @include row-center(10);
    margin-top: 1.5em!important;
    padding: 1em;
    text-align: center;
    
    & > small{
        display: block;
        margin-top: 2.5em;
        font-size: 0.2em;
    }
}
/////////////////////////////////////////////////////////////////////////////////////
/*MENU*/
/////////////////////////////////////////////////////////////////////////////////////
.menu{
    & > ul{
        @include row-center(4);
        
        & > li{
            display: inline-block;
            
            & > a{
                @include typograph-gnuolane(1.5em);
                background-color: transparent;
                border-radius: .25em;
                color:$color-dark;
                padding:.2em .5em;
                text-decoration: none;
                -webkit-transition:background 1s, color 1s;
                   -moz-transition:background 1s, color 1s;

                &:hover{
                    background-color: $color-magenta;
                    color: $color-light;
                }
            }
        }
    }
}
/////////////////////////////////////////////////////////////////////////////////////
/*AUTHOR*/
/////////////////////////////////////////////////////////////////////////////////////
.author{
    &-photo{
        @include column(4);
    }
    &-description{
        @include column(6);
        @include offset(2);
        line-height: 1.5em;
    }
    &-services{
        @include column(4);
    }
    &-skills{
        @include offset(1);
        @include column(7);
    }
}
/////////////////////////////////////////////////////////////////////////////////////
/*BUTTONS*/
/////////////////////////////////////////////////////////////////////////////////////
.btn{
	border-radius: .25em;
	display: inline-block;
	padding: 0.2em 1em;
	text-decoration: none;
    
    &--ghost{
        @include typograph-gnuolane(1.5em);
        border: solid 2px $color-light;
        color: $color-light;
    }
}
/////////////////////////////////////////////////////////////////////////////////////
/*WORKS*/
/////////////////////////////////////////////////////////////////////////////////////
.work{
    border-radius: 999em;
    box-shadow: 0px 0px 16px 5px rgba(69, 66, 66, 1);
    display: inline-block;
    height: 170px;
    overflow: hidden;
    position: relative;
    width: 170px;
    
    &:before{
        background-color: transparent;
        border-radius: 999em;
        box-shadow: 0px 0px 16px 5px #1c1c1c inset;
        content: "";
        height: 100%;
        left:0;
        position: absolute;
        top:0;
        width:100%;
        z-index: 1;
        -webkit-transition:background 1s, color 1s;
             -moz-transition:background 1s, color 1s;		
    }
    &:hover:before{
        background-color: rgba(0,0,0,0.7);
        left: 0;
    }
    
    &:after{
        background: transparent  url("../../images/zoom.png") no-repeat center center;
        border-radius: 999em;
        content: "";
        left: 8em;
        position: absolute;
        height: 100%;
        top:0;
        width: 100%;
        z-index: 30;
        -webkit-transition:left 1s;
             -moz-transition:left 1s;	
    }

    &:hover:after{
        left: 0;
    }   
    
}
.workList{
    @include row();
    &.worksList--centered{
          @include row-center(8);
        
        li{
            @include column(2.9);
        }
    }
    & li:nth-child(5n){
        margin-left: 0;
    }
}
.workDetails{
    background-color: rgba(0,0,0, 0.75);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    
    & .workDetails-content{
        @include row-center(8);
        background-color: #fff;
        border-radius: 0.5em;
        color: $color-dark;
        margin-top: 2.5em;
        padding: 0.5em;
    }
    
    & .workDetails-image{
        @include column(6);
        
        & img{
            max-width: 100%;
        }
    }
    & .workDetails-description{
        @include column(6);
    }
    
    & .workDetails-hideButton{
        float: right;
    }
}
/////////////////////////////////////////////////////////////////////////////////////
/*CONTACT*/
/////////////////////////////////////////////////////////////////////////////////////
.contact{
    @include row-center(5);
    
    .list{
        margin-top: 4em;
        vertical-align: middle;
        li{
            line-height: 2em;
            
            &:before {
                margin-right: 1em;
            }
        }
    }
}
/////////////////////////////////////////////////////////////////////////////////////
/*SOCIAL LINKS*/
/////////////////////////////////////////////////////////////////////////////////////
.social{
    li{
        display: inline-block;
    }
}
/////////////////////////////////////////////////////////////////////////////////////
/*ACCESSIBILITY*/
/////////////////////////////////////////////////////////////////////////////////////
.screenReader{
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}