<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width initial-scale=1">

		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
		<script src="js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
  <body>
    <header>
        <nav class="menu">
           <ul class="list list--noBullet list--noPadding">
               <li><a href="">home</a></li>
               <li><a href="">about</a></li>
               <li><a href="">works</a></li>
               <li><a href="">contacts</a></li>
           </ul>
        </nav>
    </header>
    <div>
        <section class="animated fadeInUp">{% include introduction.html %}</section>
        <section class="animated">{% include aboutme.html %}</section>
        <section>
            {% include works.html %}
        </section>
        <section>{% include contact.html %}</section>
    </div>
    <script data-main="js/scripts" src="js/vendor/require.js"></script>
  </body>
</html>